  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b> <%= @author.name %>
  </p>

  <p>
    <b>Born:</b> <%= @author.born %>
  </p>

  <h1>Books by this author</h1>

  <h3>Manual loop</h3>
  Book count: <%= @author.books.count %>
  <br>

  <% i = 0 %>
  <% while i < @author.books.count %>
		<%= image_tag @author.books[i].cover(:thumb), :size => "100x100", :style => "border:1px solid black" %>
    <%= @author.books[i].title %>
    <%= @author.books[i].pages %>
    <br>
    <% i = i + 1 %>
  <% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
