<%= form_for @author do |author_form| %>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= author_form.text_field :name %>
  </p>

  <p>
    <b>Born:</b>
    <%= author_form.text_field :born %>
  </p>

  <h1>Books by this author</h1>

  <h3>Manual loop</h3>
  Book count: <%= @author.books.count %>
  <br>

  <% i = 0 %>
  <% while i < @author.books.count %>
    <%= @author.books[i].title %>
    <%= @author.books[i].pages %>
    <br>
    <% i = i + 1 %>
  <% end %>


  <h3>form.fields_for loop</h3>
  <%= author_form.fields_for :books do |book_fields| %>

    <%= book_fields.label :title %>
    <%= book_fields.text_field :title %>
    <%= book_fields.label :pages %>
    <%= book_fields.text_field :pages %>

		<br>

  <% end %>

<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
